/*Палитра цветов*/
:root {
  --logo-black-color: #000;
  --primary-white-color: #ffffff;
  --background-team-color: #f5f4fa;
  --nav-and-title-color: #212121;
  --contacts-paragraph-employee-position-color: #757575;
  --blue-text-color: #2196f3;
  --background-dark-color: #2f303a;
  --background-button-color: #f5f4fa;
  --address-link-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}
body a {
  color: var(--logo-black-color);
  text-decoration: none;
}
body a:focus {
  color: var(--blue-text-color);
}

body li {
  list-style: none;
}

.nav-container {
}
.logo-top {
  color: var(--logo-black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.menu {
}
.nav-con-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item {
  color: var(--nav-and-title-color);
}
.contacts {
}
.contacts-item {
  color: var(--contacts-paragraph-employee-position-color);
}
.nav-item:hover {
  color: var(--blue-text-color);
}

.contacts-item:hover {
  color: var(--blue-text-color);
  text-decoration: underline;
}

.hero {
  background-color: var(--background-dark-color);
  width: 1600px;
  height: 600px;
}

.main-title {
  color: var(--primary-white-color);
}
.seconadry-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-and-title-color);
}
.main-title-button {
  color: var(--primary-white-color);
}
.main-title-button:hover {
  color: var(--blue-text-color);
}
.advantage-container {
}
.advantage-list-container {
}
.advantage-item {
}
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-and-title-color);
}
.advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--contacts-paragraph-employee-position-color);
}
.occupation {
}
.occupation-container {
}
.occupation-item {
}
.team {
  background-color: var(--background-team-color);
}
.team-container {
}
.team-item {
}

.position-employee-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.employee {
  color: var(--nav-and-title-color);
}
.position {
  color: var(--contacts-paragraph-employee-position-color);
}

.logo-bottom {
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-bottom .whitetext {
  color: var(--primary-white-color);
}
.logo-bottom .whitetext:focus {
  color: var(--focus-color);
}

.address {
}
.address-list {
}
.address-style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-item {
  color: var(--primary-white-color);
}
.address-link {
  color: var(--address-link-color);
}
.footer {
  background-color: var(--background-dark-color);
}
.bluetext {
  color: var(--blue-text-color);
}
/*Portfolio styles*/
.description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--contacts-paragraph-employee-position-color);
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--nav-and-title-color);
}
.filter {
}

.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--nav-and-title-color);
  background-color: var(--background-button-color);
  border: transparent;
}

.filter-item:hover,
.filter-item:focus {
  background-color: var(--blue-text-color);
  color: var(--primary-white-color);
}
.project-container {
}
